<script
	src="http://d36hc0p18k1aoc.cloudfront.net/public/js/modules/tintembed.js"></script>
<div class="tintup" data-id="scooby-1368603255" data-columns=""
	style="height: 800px; width: 500px;">
	<div class="tintup-inner"></div>
	<a href="http://www.tintup.com"
		style="width: 118px; 
		height: 31px; 
		background-image: url(//d33w9bm0n1egwm.cloudfront.net/assets/logos/poweredbytintsmall.png); 
		position: absolute; 
		bottom: 10px; 
		right: 20px; 
		text-indent: -9999px; 
		z-index: 9;">social
		media event display</a>
</div>