<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:jee="http://www.springframework.org/schema/jee"
    xmlns:lang="http://www.springframework.org/schema/lang"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.1.xsd
        http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-3.1.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd">
 
	<mvc:annotation-driven />
	<tx:annotation-driven/>
	<context:annotation-config />
	
	<context:component-scan base-package="edu.SMtool.entity" />
	<context:component-scan base-package="edu.SMtool.impl" />
	<context:component-scan base-package="edu.SMtool.impl.dao" />
	<context:component-scan base-package="edu.SMtool.beans" />
	<context:component-scan base-package="edu.SMtool.interfaces" />
	<context:component-scan base-package="edu.SMtool.socialNetworks" />
	
	
	
		<bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource" >
		<property name="basename" value="classpath:messages" />
	</bean>

	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
		p:location="classpath:jdbc.properties" />

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close"
		p:driverClassName="${jdbc.driverClassName}"
		p:url="${jdbc.databaseurl}"
		p:username="${jdbc.username}"
		p:password="${jdbc.password}" />

	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean" >
		<property name="dataSource" ref="dataSource"/>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">${jdbc.dialect}</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
		<property name="annotatedClasses">
		<list>
			<value>edu.SMtool.entity.Assignment</value>
			<value>edu.SMtool.entity.Brainstorm</value>
			<value>edu.SMtool.entity.Campaign</value>
			<value>edu.SMtool.entity.Category</value>
			<value>edu.SMtool.entity.Event</value>
			<value>edu.SMtool.entity.Goal</value>
			<value>edu.SMtool.entity.Post</value>
			<value>edu.SMtool.entity.Project</value>
			<value>edu.SMtool.entity.Resource</value>
			<value>edu.SMtool.entity.Responsible</value>
			<value>edu.SMtool.entity.Task</value>
			<value>edu.SMtool.entity.User</value>
		</list>
	    </property>
	</bean>

	<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
 
</beans>